<article *ngIf="item$ | async as item; else loading">
  <h2 class="font-bold" *ngIf="item.type === 'story'">
    {{ item.title }}
    <a
      class="ml-2 text-sm font-normal text-gray-600"
      *ngIf="item.url"
      href="/from?site="
    >
      ({{ item.url | baseUrl }})
    </a>
  </h2>

  <h2 class="font-bold" *ngIf="item.type === 'job'">
    {{ item.title }}
  </h2>

  <div *ngIf="item && item.type === 'comment'">
    <div [innerHTML]="item.text"></div>
  </div>

  <span class="text-sm text-gray-600">
    <ng-container *ngIf="item.score">{{ item.score }} points </ng-container> by
    <a class="mr-3" href="/user/{{ item.by }}">{{ item.by }}</a>
    <a class="mr-3" href="/item/{{ item.id }}">{{ item.time | timeAgo }}</a>
  </span>
  <ng-container *ngIf="item.kids">
    <div *ngFor="let id of item.kids">
      <app-comment [commentId]="id"></app-comment>
    </div>
  </ng-container>
</article>

<ng-template #loading>Loading item...</ng-template>
