<article class="mb-3" *ngIf="item$ | async as item; else loading">
  <ng-container *ngIf="!item.dead; else dead">
    <div *ngIf="item.type === 'comment'" [innerHTML]="item.text"></div>

    <h2 class="font-bold" *ngIf="item.type === 'story'">
      <a href="{{ item.url }}">{{ item.title }}</a>
      <span class="ml-2 text-sm font-normal text-gray-600" *ngIf="item.url">
        ({{ item.url | baseUrl }})
      </span>
    </h2>

    <h2 class="font-bold" *ngIf="item.type === 'job'">
      <a href="{{ item.url }}">{{ item.title }}</a>
    </h2>

    <span class="text-sm text-gray-600">
      {{ item.score | i18nPlural: pointsPluralMapping }} by
      <a class="mr-3" href="/user/{{ item.by }}">{{ item.by }}</a>
      <a class="mr-3" href="/item/{{ item.id }}">{{
        item.time * 1000 | timeago: "live"
      }}</a>
      <a class="mr-3" *ngIf="item.kids" href="/item/{{ item.id }}">{{
        item.kids.length | i18nPlural: kidsPluralMapping
      }}</a>
    </span>
  </ng-container>

  <ng-template #dead>(dead)</ng-template>
</article>

<ng-template #loading>Loading item...</ng-template>
